<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/indexHead'); %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <div>
    <div class="card mb-4">
      <div class="card-body d-flex justify-content-between">
        <a class="btn btn-primary" href="indexadmin">Inicio <i class="bi bi-house-fill"></i></a>
      </div>
    </div>
  </div>
  <div id="chart-container">

  </div>
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      let data = new google.visualization.DataTable();
      data.addColumn('string', 'Vendedor');
      data.addColumn('number', 'Ventas');

      <% vendedores.forEach(function (vendedor) { %>
        data.addRow(['<%= vendedor.nombreCompleto %>', <%= vendedor.ventasDespachadas.length %>]);
      <% }); %>

        let options = {
          title: 'Gráfico ventas realizadas por cada vendedor',
          width: 2000,
          height: 800
        };

      let chart = new google.visualization.ColumnChart(document.getElementById('chart-container'));
      chart.draw(data, options);
    }
  </script>
</body>

</html>