<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/indexHead'); %>
</head>
<body>
    <main>
        <div class="container mt-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3 class="fw-bold fs-3">A continuación podrás generar las siguientes gráficas</h3>
                </div>
                <div class="card-body d-flex justify-content-evenly">
                    <a class="btn btn-outline-danger" href="cantidadventas">Cantidad ventas</a>
                    <a class="btn btn-outline-danger" href="">Valor ventas</a>
                </div>
            </div>
            
            
        </div>
    </main>
</body>
</html>