<section>
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.studiof.com.co/arquivos/BANNER-HOME-BLACK-SALE-27042023-LG.jpg"
                    class="d-block w-100 carImg">
            </div>
            <div class="carousel-item">
                <img src="https://www.studiof.com.co/arquivos/COLOR-ROMANCE--BANNER-HOME-LG.png"
                    class="d-block w-100 carImg">
            </div>
            <div class="carousel-item">
                <img src="https://www.studiof.com.co/arquivos/BANNER-HOME-ESENCIA-TROPICAL-LG.jpg"
                    class="d-block w-100 carImg">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>
<section class="categories">
    <div class="men__category">
        <h3 class="category__name">Ropa de Hombre</h3>
        <a href="#"><img src="https://www.mattelsa.net/media/Home/01chaquetash26052023.jpg" class="category__img"></a>
    </div>
    <div class="women__category">
        <h3 class="category__name">Ropa de Mujer</h3>
        <a href="#"><img src="https://www.mattelsa.net/media/Home/02graficosm26052023.jpg" class="category__img"></a>
    </div>
</section>