<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="login" method="post">
                    <div class="">
                        <label for="emailLogin" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="emailLogin" placeholder="Ingresa tu email"
                            name="emailLogin" required>
                    </div>
                    <div class="mb-3">
                        <label for="pwdLogin" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="pwdLogin" placeholder="Ingresa tu contraseña"
                            name="pwdLogin" required>
                    </div>
                    <div class="form-check mb-3 d-flex justify-content-around">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>
                        <a href="#">Recuperar contraseña</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <p>¿No tienes cuenta? <a href="registroclientes">Creala aquí</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Shopping cart -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCarritoLabel">Carrito de compras</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column" id="offcanvasBody">
        
        
        
    </div>
    <div class="mt-auto" id="totalPrice">
            
    </div>
</div>