<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/indexHead'); %>
</head>
<body>
    <header>
        <%- include('./partials/indexHeader'); %>
    </header>

    <main>
        <%- include('./partials/indexMain'); %>
    </main>

    <%- include('./partials/indexModals'); %>
</body>
</html>