<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('./partials/indexHead') %>
</head>
<header>
    <%- include ('./partials/indexHeader') %>
</header>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Inicio de Sesión</h3>
                        <form action="login" method="post">
                            <div class="">
                                <label for="emailLogin" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="emailLogin" placeholder="Ingresa tu email"
                                    name="emailLogin" required>
                            </div>
                            <div class="mb-3">
                                <label for="pwdLogin" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="pwdLogin"
                                    placeholder="Ingresa tu contraseña" name="pwdLogin" required>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                <a href="recuperar">Recuperar contraseña</a>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <p>¿No tienes cuenta? <a href="registroclientes">Creala aquí</a></p>
                            </form>
                            </div>
                            <% if (typeof error !== 'undefined') { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/indexModals'); %>


</html>