<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/indexHead') %>
</head>
<header>
    <%- include ('./partials/indexHeader') %>
</header>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Formulario de Registro</h3>
                        <form action="nuevocliente" method="post">
                            <div class="mb-3">
                                <label for="nombreCliente" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombreCliente"
                                    placeholder="Ingresa tu nombre" name="nombreCliente" required>
                            </div>
                            <div class="mb-3">
                                <label for="emailCliente" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="emailCliente"
                                    placeholder="Ingresa tu email" name="emailCliente" required>
                            </div>
                            <div class="mb-3">
                                <label for="telefonoCliente" class="form-label">Teléfono:</label>
                                <input type="text" class="form-control" id="telefonoCliente"
                                    placeholder="Ingresa tu teléfono" name="telefonoCliente" required>
                            </div>
                            <div class="mb-3">
                                <label for="pswdCliente" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="pswdCliente"
                                    placeholder="Ingresa tu contraseña" name="pswdCliente" required>
                            </div>
                            <div>
                                <input type="hidden" id="latitudCliente" name="latitudCliente">
                                <input type="hidden" id="longitudCliente" name="longitudCliente">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Alerts -->
    <%- include('./partials/indexModals'); %>

</body>
<script>
    // Función para obtener la ubicación actual del usuario
    function obtenerUbicacion() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(actualizarCamposUbicacion);
        } else {
            console.log('La geolocalización no es compatible con este navegador.');
        }
    }

    // Función para actualizar los campos de latitud y longitud
    function actualizarCamposUbicacion(position) {
        const latitud = position.coords.latitude;
        const longitud = position.coords.longitude;

        // Actualizar los valores de los campos de latitud y longitud
        document.getElementById('latitudCliente').value = latitud;
        document.getElementById('longitudCliente').value = longitud;
    }

    // Llamar a la función para obtener la ubicación al cargar la página
    obtenerUbicacion();
</script>

</html>