<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <h2>Nuevo cliente</h2>
        <form action="nuevocliente" method="post">
            <label for="nombreCliente">Nombre</label>
            <input type="text" id="nombreCliente" name="nombreCliente">

            <label for="cedulaCliente">Cedula</label>
            <input type="text" name="cedulaCliente" id="cedulaCliente">

            <label for="telefonoCliente">Teléfono</label>
            <input type="text" id="telefonoCliente" name="telefonoCliente">

            <label for="ubicacionLon">Longitud</label>
            <input type="text" name="ubicacionLon" id="ubicacionLon">

            <label for="ubicacionLat">Latitud</label>
            <input type="text" name="ubicacionLat" id="ubicacionLat">

            <label for="totalCompradoCliente">Total comprado</label>
            <input type="text" name="totalCompradoCliente" id="totalCompradoCliente">

            <button type="submit">Enviar</button>
        </form>
    </fieldset>
</body>
</html>