<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <div id="chart-container" class="container">

  </div>
  <script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      let data = new google.visualization.DataTable();
      data.addColumn('string', 'Vendedor');
      data.addColumn('number', 'Ventas');

      <% vendedores.forEach(function (vendedor) { %>
        data.addRow(['<%= vendedor.nombreCompleto %>', <%= vendedor.ventasDespachadas.length %>]);
      <% }); %>

        let options = {
          title: 'Gráfico ventas realizadas por cada vendedor',
          width: 1200,
          height: 800
        };

      let chart = new google.visualization.ColumnChart(document.getElementById('chart-container'));
      chart.draw(data, options);
    }
  </script>
</body>

</html>