<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-header text-center">
                    <h3>Bienvenido al lugar donde podrás gestionar tu negocio</h3>
                </div>
                <div class="card-body d-flex justify-content-center">
                    <img src="/imgs/admin.svg" class="img-fluid w-75" alt="Imagen de admin">
                </div>
            </div>
        </div>
    </main>
</body>

</html>